NEXT_PUBLIC_DOMAIN="https://localhost:4050"
NEXT_PUBLIC_STORYBLOK_CONTENT_VERSION="draft"
# preview project has a bigger scope access other than production token
NEXT_PUBLIC_STORYBLOK_TOKEN="YOUR_STORYBLOK_TOKEN"

# this should be created in vercel project settings
# 1. go to project settings
# 2. "Git" tab
# 3. "Deploy Hooks" section
# 4. create and paste deploy hook
VERCEL_REDEPLOY_HOOK_URL="https://api.vercel.com/v1/integrations/deploy/[KEY]/[KEY]"
